<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href="areacss.css">
        <title> Area Calculator </title>
    </head>
    <body>
        <h1>
            Area Calculator
        </h1>
        <header>
            <nav class = "bobby">
                <li><a href = "circle.py">Circle Calculator</a></li>
                <li><a href = "square.py">Square Calculator</a></li>
                <li><a href = "rectangle.py">Rectangle Calculator</a></li>
            </nav>
        </header>
    </body>
</html>
